Repository ecmwf/anemoi-inference, pull requests merged in 2024-12, with the labels that each got.

#68 Add defaults to validate_environment
  pyproject.toml
  src/anemoi/inference/checkpoint.py
  src/anemoi/inference/provenance.py
Labels: no changelog

#69 Make frozendict picklable
  src/anemoi/inference/metadata.py
Labels: no changelog

#71 Do not compute next-step forcing if current step is the last one
  src/anemoi/inference/runner.py
Labels: contributor

#75 Add support for downloading models from huggingface
  CHANGELOG.md
  docs/configs/top-level.rst
  pyproject.toml
  src/anemoi/inference/checkpoint.py
  src/anemoi/inference/config.py
Labels: enhancement

#77 Feature/huggingface
  src/anemoi/inference/checkpoint.py
Labels: no changelog

#78 Write output coordinates of RawOutput as floats
  src/anemoi/inference/outputs/raw.py
Labels: contributor

#80 Release 0.4.2
  src/anemoi/inference/checkpoint.py
  src/anemoi/inference/metadata.py
  src/anemoi/inference/outputs/gribfile.py
  src/anemoi/inference/outputs/raw.py
Labels: no changelog

#81 Hotfix: huggingface loading
  src/anemoi/inference/checkpoint.py
  src/anemoi/inference/config.py
Labels: no changelog

#85 Remove leftover checkpoint file
  src/anemoi/inference/checkpoint/metadata/__init__.py
Labels: no changelog

#83 Tests huggingface download
  .github/workflows/python-pull-request.yml
  pyproject.toml
  src/anemoi/inference/checkpoint.py
  tests/__init__.py
  tests/checkpoint/__init__.py
  tests/checkpoint/test_huggingface.py
  tests/metadata/fake_metadata.py
Labels: no changelog
