Repository ecmwf/anemoi-inference, pull requests merged in 2025-05, with the labels that each got.

#214 fix: support for netcdf missing values
  .gitignore
  src/anemoi/inference/context.py
  src/anemoi/inference/output.py
  src/anemoi/inference/outputs/apply_mask.py
  src/anemoi/inference/outputs/extract_lam.py
  src/anemoi/inference/outputs/masked.py
  src/anemoi/inference/outputs/netcdf.py
  src/anemoi/inference/outputs/tee.py
  src/anemoi/inference/outputs/truth.py
  src/anemoi/inference/runners/default.py
Labels: bug

#226 fix: boundary forcings inputs
  src/anemoi/inference/metadata.py
Labels: bug

#229 chore(main): Release 0.6.0
  .release-please-manifest.json
  CHANGELOG.md
Labels: documentation, autorelease: pending

#221 feat: add `assign_mask` output
  .gitignore
  docs/inference/configs/outputs.rst
  docs/inference/configs/yaml/outputs_assign.yaml
  src/anemoi/inference/output.py
  src/anemoi/inference/outputs/assign_mask.py
Labels: documentation

#233 feat(grib output): support string format specification for output filename
  docs/inference/configs/outputs.rst
  src/anemoi/inference/grib/encoding.py
  tests/unit/test_grib.py
Labels: documentation, enhancement, tests

#232 chore: synced file(s) with ecmwf/reusable-workflows
  .github/CODEOWNERS
  .github/pull_request_template.md
  .github/release.yml
  .github/workflows/downstream-ci-hpc.yml
  .github/workflows/pr-conventional-commit.yml
  .github/workflows/pr-label-conventional-commits.yml
  .github/workflows/pr-label-file-based.yml
  .github/workflows/pr-label-public.yml
  .github/workflows/python-pull-request.yml
  .github/workflows/readthedocs-pr-update.yml
  .gitignore
  .pre-commit-config.yaml
Labels: sync, CI/CD

#239 feat: Set debug log level on verbosity > 2
  src/anemoi/inference/runner.py
Labels: enhancement
