Repository ecmwf/anemoi-inference, pull requests merged in 2025-09, with the labels that each got.

#323 feat(inspect): JSON output
  src/anemoi/inference/commands/inspect.py
  src/anemoi/inference/metadata.py
Labels: enhancement, ATS Approval not needed

#325 chore: synced file(s) with ecmwf/reusable-workflows
  .github/workflows/pr-label-ats.yml
Labels: sync, CI/CD

#328 fix: Inference with single variable
  src/anemoi/inference/runner.py
Labels: contributor, ATS Approval not needed

#331 feat: replace no grad with inference mode
  src/anemoi/inference/runner.py
Labels: enhancement, ATS Approval not needed

#334 fix: Update cutout due to #262
  src/anemoi/inference/inputs/cutout.py
Labels: bug, ATS Approval not needed
