Repository ecmwf/anemoi-inference, pull requests merged in 2025-04, with the labels that each got.

#186 fix: Write correct values at step 0
  src/anemoi/inference/outputs/grib.py
Labels: bug

#204 fix(netcdf): Fix context time attributes
  src/anemoi/inference/outputs/netcdf.py
  src/anemoi/inference/runner.py
  src/anemoi/inference/runners/default.py
Labels: bug

#196 chore(main): Release 0.5.1
  .release-please-manifest.json
  CHANGELOG.md
Labels: documentation, autorelease: pending

#209 fix: Improve Testing Decorators
  src/anemoi/inference/testing/__init__.py
Labels: bug, tests, ATS Approval not needed

#201 feat: allow hydra-like override of config list elements
  docs/inference/apis/code/level3_3.yaml
  docs/inference/apis/code/level3_4.sh
  docs/inference/apis/code/level3_4.yaml
  docs/inference/apis/level3.rst
  src/anemoi/inference/config/__init__.py
Labels: documentation, enhancement, config

#210 chore(main): Release 0.5.2
  .release-please-manifest.json
  CHANGELOG.md
Labels: documentation, autorelease: pending

#217 fix: extract-lam
  src/anemoi/inference/outputs/extract_lam.py
Labels: bug

#213 fix: better error messages
  src/anemoi/inference/provenance.py
  src/anemoi/inference/runner.py
Labels: bug

#190 feat(input): add FDB input class
  src/anemoi/inference/inputs/fdb.py
Labels: contributor

#218 chore(main): Release 0.5.3
  .release-please-manifest.json
  CHANGELOG.md
Labels: documentation, autorelease: pending
