Repository ecmwf/anemoi-inference, pull requests merged in 2025-03, with the labels that each got.

#157 chore: synced file(s) with ecmwf/reusable-workflows
  .gitignore
Labels: sync

#163 fix: fix pyproject.toml
  pyproject.toml
Labels: enhancement, dependencies

#164 fix: Post processors
  src/anemoi/inference/runner.py
  src/anemoi/inference/runners/default.py
Labels: bug

#165 fix: Remove `hdate` from variable keys
  src/anemoi/inference/grib/encoding.py
  src/anemoi/inference/metadata.py
  src/anemoi/inference/outputs/grib.py
Labels: bug

#170 chore: synced file(s) with ecmwf/reusable-workflows
  .github/workflows/downstream-ci-hpc.yml
  .pre-commit-config.yaml
  .readthedocs.yaml
Labels: sync

#175 fix: unused parameter
  src/anemoi/inference/outputs/grib.py
Labels: bug

#174 fix: ParallelRunner without GPU
  src/anemoi/inference/runners/parallel.py
Labels: bug

#177 fix(grib): Remove duplicate grib key logic
  src/anemoi/inference/outputs/grib.py
Labels: bug

#179 chore: Update pyproject.toml
  pyproject.toml
Labels: dependencies

#169 feat: support for cutout input
  docs/configs/inputs.rst
  docs/configs/inputs_11.yaml
  src/anemoi/inference/inputs/cutout.py
  src/anemoi/inference/inputs/ekd.py
  src/anemoi/inference/output.py
  src/anemoi/inference/outputs/extract_lam.py
Labels: documentation, ATS Approved, contributor

#188 chore: synced file(s) with ecmwf/reusable-workflows
  .github/workflows/downstream-ci-hpc.yml
  .gitignore
Labels: sync, CI/CD

#189 chore: Update pyproject.toml
  pyproject.toml
Labels: dependencies

#193 update
  tests/configs/coupled.yaml
Labels: tests

#173 chore(main): Release 0.5.0
  .release-please-manifest.json
  CHANGELOG.md
Labels: documentation, autorelease: pending, dependencies

#195 docs: align docs with template
  docs/conf.py
  docs/dev/code_structure.rst
  docs/dev/contributing.rst
  docs/dev/testing.rst
  docs/index.rst
Labels: documentation

#187 feat: plugin support
  docs/conf.py
  docs/index.rst
  pyproject.toml
  src/anemoi/inference/post_processors/backward_transform_filter.py
  src/anemoi/inference/post_processors/cos_sin_mean_wave_direction.py
  src/anemoi/inference/pre_processors/cos_sin_mean_wave_direction.py
  src/anemoi/inference/pre_processors/forward_transform_filter.py
  src/anemoi/inference/testing/__init__.py
  tests/configs/mwd.yaml
  tests/test_inference.py
Labels: documentation, enhancement, dependencies, tests
