Repository ecmwf/anemoi-inference, pull requests merged in 2025-07, with the labels that each got.

#268 feat: Add logging control to mars
  src/anemoi/inference/inputs/mars.py
Labels: enhancement

#241 test: Add integration test framework
  pyproject.toml
  src/anemoi/inference/checkpoint.py
  src/anemoi/inference/grib/templates/builtin.yaml
  src/anemoi/inference/metadata.py
  src/anemoi/inference/outputs/netcdf.py
  src/anemoi/inference/testing/__init__.py
  src/anemoi/inference/testing/checks.py
  src/anemoi/inference/testing/mock_model.py
  tests/conftest.py
  tests/integration/conftest.py
  tests/integration/single-o48-1.1/config.yaml
  tests/integration/single-o48-1.1/metadata.json
  tests/integration/test_inference.py
  tests/integration/test_integration.py
  tests/unit/checkpoints/atmos.json
Labels: dependencies, tests

#269 feat: Extend GribOutput class to write to FileLike Objects
  docs/inference/apis/code/level2.py
  src/anemoi/inference/grib/encoding.py
  src/anemoi/inference/outputs/grib.py
  src/anemoi/inference/outputs/gribfile.py
  src/anemoi/inference/outputs/gribmemory.py
  src/anemoi/inference/plugin.py
Labels: documentation, ATS Approval not needed

#275 feat: Add Zarr Output
  docs/inference/configs/outputs.rst
  docs/inference/configs/yaml/outputs_10.yaml
  pyproject.toml
  src/anemoi/inference/outputs/zarr.py
  src/anemoi/inference/testing/checks.py
  tests/integration/single-o48-1.1/config.yaml
Labels: documentation, enhancement, dependencies, tests

#279 fix: Tensor not detached in debug mode
  src/anemoi/inference/runner.py
Labels: bug

#280 Feat/source of constants
  .pre-commit-config.yaml
  pyproject.toml
  src/anemoi/inference/checkpoint.py
  src/anemoi/inference/commands/inspect.py
  src/anemoi/inference/commands/requests.py
  src/anemoi/inference/commands/requirements.py
  src/anemoi/inference/commands/retrieve.py
  src/anemoi/inference/commands/variables.py
  src/anemoi/inference/config/run.py
  src/anemoi/inference/context.py
  src/anemoi/inference/forcings.py
  src/anemoi/inference/grib/encoding.py
  src/anemoi/inference/input.py
  src/anemoi/inference/inputs/__init__.py
  src/anemoi/inference/inputs/cds.py
  src/anemoi/inference/inputs/dataset.py
  src/anemoi/inference/inputs/dummy.py
  src/anemoi/inference/inputs/ekd.py
  src/anemoi/inference/inputs/empty.py
  src/anemoi/inference/inputs/fdb.py
  src/anemoi/inference/inputs/gribfile.py
  src/anemoi/inference/inputs/mars.py
  src/anemoi/inference/inputs/repeated_dates.py
  src/anemoi/inference/metadata.py
  src/anemoi/inference/outputs/grib.py
  src/anemoi/inference/outputs/gribfile.py
  src/anemoi/inference/plugin.py
  src/anemoi/inference/runner.py
  src/anemoi/inference/runners/cutout.py
  src/anemoi/inference/runners/default.py
  src/anemoi/inference/runners/testing.py
  src/anemoi/inference/tasks/runner.py
  src/anemoi/inference/variables.py
Labels: documentation, enhancement, dependencies, CI/CD, config, tests

#284 fix: Add area to template lookup dictionary
  src/anemoi/inference/grib/templates/manager.py
Labels: bug

#282 fix(grib): Ocean grib encoding
  pyproject.toml
  src/anemoi/inference/grib/encoding.py
  src/anemoi/inference/outputs/grib.py
  src/anemoi/inference/outputs/gribfile.py
Labels: bug, dependencies

#203 fix: checkpoint patching
  src/anemoi/inference/checkpoint.py
  src/anemoi/inference/commands/patch.py
  src/anemoi/inference/grib/templates/builtin.yaml
  src/anemoi/inference/metadata.py
  src/anemoi/inference/output.py
  src/anemoi/inference/patch.py
Labels: bug

#286 fix: Allow input preprocessors to patch data request
  src/anemoi/inference/input.py
  src/anemoi/inference/inputs/cds.py
  src/anemoi/inference/inputs/ekd.py
  src/anemoi/inference/inputs/fdb.py
  src/anemoi/inference/inputs/mars.py
  tests/unit/configs/simple.yaml
  tests/unit/inputs/test_inference.py
  tests/unit/inputs/test_request_patching.py
  tests/unit/test_inputs.py
Labels: bug, tests

#285 feat(post-processors): extraction post-processors
  pyproject.toml
  src/anemoi/inference/outputs/masked.py
  src/anemoi/inference/outputs/printer.py
  src/anemoi/inference/post_processors/extract.py
  tests/conftest.py
  tests/unit/test_post_processors.py
Labels: bug, enhancement, dependencies, tests

#289 chore: synced file(s) with ecmwf/reusable-workflows
  .github/workflows/python-pull-request.yml
Labels: sync, CI/CD

#287 feat(post-processors): add `assign_mask` post-processor
  src/anemoi/inference/outputs/assign_mask.py
  src/anemoi/inference/post_processors/assign.py
  src/anemoi/inference/post_processors/extract.py
  tests/conftest.py
  tests/unit/test_post_processors.py
Labels: bug, dependencies, tests
