Repository ecmwf/anemoi-inference, pull requests merged in 2025-06, with the labels that each got.

#216 feat: inference with external graph.
  docs/index.rst
  docs/usage/external-graph.rst
  docs/usage/yaml/external-graph1.yaml
  docs/usage/yaml/external-graph2.yaml
  docs/usage/yaml/external-graph3.yaml
  docs/usage/yaml/external-graph4.yaml
  src/anemoi/inference/config/run.py
  src/anemoi/inference/runner.py
  src/anemoi/inference/runners/__init__.py
  src/anemoi/inference/runners/external_graph.py
Labels: documentation, enhancement, ATS Approved, config

#242 feat: Dynamic parallel runner (run any runner in parallel)
  docs/inference/parallel.rst
  src/anemoi/inference/runner.py
  src/anemoi/inference/runners/parallel.py
Labels: documentation, enhancement, config

#246 chore(main): Release 0.6.2
  .release-please-manifest.json
  CHANGELOG.md
Labels: documentation, autorelease: pending

#247 fix: Improve external graph
  docs/usage/external-graph.rst
  docs/usage/yaml/external-graph4.yaml
  docs/usage/yaml/external-graph5.yaml
  pyproject.toml
  src/anemoi/inference/runners/external_graph.py
Labels: documentation, dependencies

#252 feat: Resolve config with omegaconf
  docs/inference/apis/level3.rst
  docs/inference/configs/introduction.rst
  pyproject.toml
  src/anemoi/inference/config/__init__.py
  src/anemoi/inference/config/couple.py
  src/anemoi/inference/config/run.py
  src/anemoi/inference/inputs/cds.py
  src/anemoi/inference/inputs/dataset.py
  src/anemoi/inference/inputs/ekd.py
  src/anemoi/inference/inputs/mars.py
  tests/unit/configs/interpolation.yaml
  tests/unit/test_config.py
Labels: documentation, enhancement, dependencies, config, tests

#255 chore(main): Release 0.6.3
  .release-please-manifest.json
  CHANGELOG.md
Labels: documentation, autorelease: pending

#261 chore: Update PR template CLA
  .github/pull_request_template.md
Labels: sync, CI/CD
