Repository ecmwf/anemoi-inference, pull requests merged in 2025-08, with the labels that each got.

#301 chore: update anemoi-utils dependency version
  pyproject.toml
Labels: dependencies

#298 refactor: improve test type hints
  tests/integration/test_integration.py
Labels: enhancement, tests, ATS Approval not needed

#297 feat(runner): Dynamically evalute default device from config
  src/anemoi/inference/config/run.py
  src/anemoi/inference/device.py
  src/anemoi/inference/runner.py
  src/anemoi/inference/runners/parallel.py
Labels: enhancement, config

#306 test: remove longtests pytest cli option
  tests/conftest.py
Labels: tests

#307 chore: Consistent anemoi-utils versions in pyproject.toml
  pyproject.toml
Labels: dependencies

#293 feat(output, plots): Use earthkit plots
  pyproject.toml
  src/anemoi/inference/outputs/plot.py
Labels: enhancement, dependencies
