Repository ecmwf/anemoi-inference, pull requests merged in 2025-02, with the labels that each got.

#113 chore: synced file(s) with ecmwf-actions/reusable-workflows
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
  .github/ci-config.yml
  .github/dependabot.yml
  .github/labeler.yml
  .github/release.yml
  .github/workflows/changelog-pr-update.yml
  .github/workflows/changelog-release-update.yml
  .github/workflows/downstream-ci-hpc.yml
  .github/workflows/pr-conventional-commit.yml
  .github/workflows/pr-label-conventional-commits.yml
  .github/workflows/pr-label-file-based.yml
  .github/workflows/pr-label-public.yml
  .github/workflows/python-publish.yml
  .github/workflows/python-pull-request.yml
  .github/workflows/readthedocs-pr-update.yml
  .github/workflows/release-please.yml
  .gitignore
  .pre-commit-config.yaml
  .readthedocs.yaml
  .release-please-config.json
  .release-please-manifest.json
  CONTRIBUTORS.md
  LICENSE
  README.md
Labels: sync

#123 chore(main): Preparing Next Release for 0.4.6
  .release-please-manifest.json
  CHANGELOG.md
Labels: documentation, autorelease: pending

#126 chore: synced file(s) with ecmwf-actions/reusable-workflows
  .pre-commit-config.yaml
Labels: sync, CI/CD

#130 chore: synced file(s) with ecmwf-actions/reusable-workflows
  .github/pull_request_template.md
Labels: sync, CI/CD

#132 feat(retrieve): Add `--use-scda` flag
  src/anemoi/inference/checkpoint.py
  src/anemoi/inference/commands/retrieve.py
Labels: bug, enhancement

#128 chore(main): Preparing Next Release for 0.4.7
  .release-please-manifest.json
  CHANGELOG.md
Labels: documentation, autorelease: pending

#133 feat(config): Add `accumulate_from_start_of_forecast` post-processor
  src/anemoi/inference/config.py
  src/anemoi/inference/runner.py
  src/anemoi/inference/runners/default.py
Labels: enhancement

#136 chore: synced file(s) with ecmwf-actions/reusable-workflows
  .github/labeler.yml
  .github/workflows/pr-label-conventional-commits.yml
  .release-please-config.json
Labels: sync, CI/CD

#134 chore(main): Release 0.4.8
  .release-please-manifest.json
  CHANGELOG.md
Labels: documentation, autorelease: pending

#121 feat: parallel inference without slurm
  docs/parallel.rst
  src/anemoi/inference/commands/run.py
  src/anemoi/inference/config.py
  src/anemoi/inference/runners/__init__.py
  src/anemoi/inference/runners/parallel.py
Labels: documentation, config

#118 feat(output): allow selecting variables for GRIB output
  src/anemoi/inference/outputs/grib.py
  src/anemoi/inference/outputs/gribfile.py
Labels: contributor

#141 fix: issue #127, command "requests" broken
  src/anemoi/inference/commands/requests.py
  src/anemoi/inference/commands/retrieve.py
Labels: bug

#138 fix: Update output: printer to avoid range(a, b, 0)
  src/anemoi/inference/outputs/printer.py
Labels: contributor

#144 feat: Add truth output
  docs/configs/outputs.rst
  docs/configs/outputs_9.yaml
  src/anemoi/inference/outputs/netcdf.py
  src/anemoi/inference/outputs/truth.py
Labels: documentation, enhancement

#145 chore: synced file(s) with ecmwf-actions/reusable-workflows
  .pre-commit-config.yaml
  src/anemoi/inference/checkpoint.py
  src/anemoi/inference/decorators.py
  src/anemoi/inference/inputs/dataset.py
  src/anemoi/inference/inputs/grib.py
  src/anemoi/inference/inputs/gribfile.py
  src/anemoi/inference/inputs/icon.py
  src/anemoi/inference/metadata.py
  src/anemoi/inference/output.py
  src/anemoi/inference/outputs/grib.py
  src/anemoi/inference/plugin.py
  src/anemoi/inference/provenance.py
  src/anemoi/inference/runners/parallel.py
Labels: sync, CI/CD

#146 feat(retrieve): Create runner from config
  src/anemoi/inference/commands/retrieve.py
Labels: enhancement

#149 chore: synced file(s) with ecmwf-actions/reusable-workflows
  .release-please-config.json
Labels: sync

#150 fix: prepml staging
  src/anemoi/inference/commands/retrieve.py
Labels: bug

#140 chore(main): Release 0.4.10
  .release-please-manifest.json
  CHANGELOG.md
Labels: documentation, autorelease: pending

#151 docs: Add validation info
  docs/cli/validate.rst
  docs/index.rst
  pyproject.toml
Labels: documentation, dependencies

#142 docs: use new logo
  docs/_static/logo.png
Labels: documentation

#155 chore: synced file(s) with ecmwf/reusable-workflows
  .github/workflows/pr-label-public.yml
  .github/workflows/python-publish.yml
  .github/workflows/python-pull-request.yml
Labels: sync, CI/CD

#116 feat: adding post-processors
  .gitignore
  CHANGELOG.md
  pyproject.toml
  src/anemoi/inference/checkpoint.py
  src/anemoi/inference/commands/retrieve.py
  src/anemoi/inference/commands/run.py
  src/anemoi/inference/config.py
  src/anemoi/inference/context.py
  src/anemoi/inference/forcings.py
  src/anemoi/inference/grib/__init__.py
  src/anemoi/inference/grib/encoding.py
  src/anemoi/inference/grib/templates/__init__.py
  src/anemoi/inference/grib/templates/builtin.py
  src/anemoi/inference/grib/templates/builtin.yaml
  src/anemoi/inference/grib/templates/file.py
  src/anemoi/inference/grib/templates/manager.py
  src/anemoi/inference/grib/templates/samples.py
  src/anemoi/inference/input.py
  src/anemoi/inference/inputs/cds.py
  src/anemoi/inference/inputs/dataset.py
  src/anemoi/inference/inputs/ekd.py
  src/anemoi/inference/inputs/gribfile.py
  src/anemoi/inference/inputs/icon.py
  src/anemoi/inference/inputs/mars.py
  src/anemoi/inference/inputs/templates.py
  src/anemoi/inference/metadata.py
  src/anemoi/inference/outputs/grib.py
  src/anemoi/inference/outputs/gribfile.py
  src/anemoi/inference/outputs/plot.py
  src/anemoi/inference/plugin.py
  src/anemoi/inference/post_processors/__init__.py
  src/anemoi/inference/post_processors/accumulate.py
  src/anemoi/inference/post_processors/mean_wave_direction.py
  src/anemoi/inference/post_processors/state.py
  src/anemoi/inference/post_processors/transform_filter.py
  src/anemoi/inference/postprocess.py
  src/anemoi/inference/pre_processors/__init__.py
  src/anemoi/inference/pre_processors/mean_wave_direction.py
  src/anemoi/inference/pre_processors/no_missing_values.py
  src/anemoi/inference/processor.py
  src/anemoi/inference/processors.py
  src/anemoi/inference/runner.py
  src/anemoi/inference/runners/default.py
  src/anemoi/inference/runners/plugin.py
  src/anemoi/inference/trace.py
Labels: documentation, dependencies, config
